<ul>
  <% @events.each do |event| %>
    <h2><%= event.name %></h2>
      <p><%= event.description %></p>
        <li><%= event.starts_at %></li>
        <li><%= event.ends_at %></li>
      <p><%= event.address %></p>
      <p><%= event.lat %></p>
      <p><%= event.long %></p>
  <% end %>
</ul>