<% @events.each do |event| %>
  <div class="event-listing">
    <h3 class="event-name"><%= event.name %></h3>
    <p class="event-description"><%= event.description %></p>
    <p class="event-date">Starts at: <%= event.starts_at %> | Ends at:<%= event.ends_at %></p>
    <p class="event-address">Address: <%= event.address %></p>
  </div>
<% end %>
