<h1><%= @category.adventure_type %></h1>
<div class="category-events-list">
  <% @category.events.each do |event| %>
    <div class="category-specific-event">
      <h3 class="event-name"><%= event.name %></h3>
      <p class="event-description"><%= event.description %></p>
      <p class="event-date">Starts at: <%= event.starts_at %> | Ends at:<%= event.ends_at %></p>
      <p class="event-address">Address: <%= event.address %></p>
    </div>
  <% end %>
</div>

<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
<script src="//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js"></script>
<script>ZiggeoApi.token = "<%= ENV['ZIGGEO_APP_TOKEN'] %>";</script>
<ziggeo ziggeo-id="name-of-the-embedding"
        ziggeo-video="_nameofthevideo"
        ziggeo-width=320
        ziggeo-height=240
></ziggeo>
<script>
  var embedding = ZiggeoApi.Embed.get("nameofthevideo");
  embedding.play();
</script>
